.blogItem {
  color: var(--font-default);
  padding: var(--spacing-small);
  margin-bottom: var(--spacing-normal);
  display: flex;
  // Attempt to fix blurriness on hover
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
  will-change: transform;
  transition: transform 0.3s;

  // &:hover {
  //   transform: scale(1.02);
  // }

  .postContainer {
    flex: 1;
    margin-top: var(--spacing-small);

    .summary {
      margin-top: var(--spacing-normal);
      margin-bottom: var(--spacing-small);
    }

    .tags {
      span {
        display: inline-block;
        font-size: var(--font-small);
        margin-right: var(--spacing-small);
        color: var(--primary);
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
      display: inline-block;
      width: 100%;
    }

    .readMore {
      color: var(--primary);
      font-weight: bold;
      padding: var(--spacing-small);
      border-radius: var(--border);
      border: 2px solid var(--primary);
      transition: all 0.3s;

      i,
      & {
        -webkit-font-smoothing: subpixel-antialiased;
        text-align: center;
        vertical-align: middle;
        margin: 0;
      }

      &:hover {
        color: white;

        background-color: var(--primary);
        box-shadow: var(--box-shadow);
      }
    }

    .stats {
      font-size: var(--font-small);
      user-select: none;
      color: var(--font-default);
      transition: color 0.3s;
    }
  }

  .imageContainer {
    flex: 0.13;
    max-width: 10%;
    user-select: none;
    pointer-events: none;
    position: relative;
    overflow: hidden;
    border-radius: var(--border);
    margin-right: var(--spacing-normal);

    img {
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1024px) {
  .blogItem {
    transition: none;
    &:hover {
      transform: none;
    }
  }
  .imageContainer {
    display: none;
  }
  .readMore {
    color: var(--font-default) !important;
    background-color: var(--primary);
    box-shadow: var(--box-shadow);
  }
}
