.projectWrap {
    cursor: pointer;
    padding: var(--padding-small);
    margin: 0;

    color: inherit;
    text-decoration: none;
    align-items: stretch;

    .image {
        // width: 30%;
        object-fit: cover;
        border-radius: var(--border);
    }

    .details {
        padding: 0 var(--padding-normal) 0 var(--padding-normal);

        .description {
            overflow: hidden;
            overflow-wrap: break-word;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;

            /* number of lines to show */
            line-clamp: 5;
        }
    }
}

@media screen and (max-width: 1024px) {
    .image {
        display: none;
    }

    .details {
        max-width: initial;
    }
}