.panel {
  margin-bottom: var(--spacing-normal);
  padding: var(--spacing-normal);
  color: var(--font-default);

  h1 {
    margin: 0 0 var(--spacing-normal) 0;
    text-align: center;
    font-size: var(--font-large);
  }
}
