.panel {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-bottom: var(--spacing-normal);
  padding: var(--spacing-medium);
  color: var(--font-default);

  h1 {
    margin: 0 0 var(--spacing-normal) 0;
    text-align: center;
    font-size: var(--font-large);
  }
}
