.filterTags {
  display: flex;
  gap: var(--spacing-small);

  .scrollableArea {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--spacing-small);
    overflow-x: scroll;
    overflow-y: hidden;

    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    touch-action: pan-x;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .tagButton {
    border-radius: var(--border);
    flex: 0 0 auto;
    white-space: nowrap;

    text-decoration: none;
    text-align: center;

    // background-color: var(--tertiary);
    background-color: hsla(var(--primary-hsla), 0.2);
    color: var(--font-default);
    border: none;

    cursor: pointer;

    transition: all 0.3s;
    padding: var(--spacing-small);

    span {
      vertical-align: middle;
    }

    &.selected {
      color: white;
      background-color: var(--primary);
    }

    &:has(span) {
      padding-right: var(--spacing-normal);
    }

    &:disabled {
      color: black;
      cursor: not-allowed;
      // background-color: var(--primary);
      opacity: 0.5;
    }
  }

  // Special button styling

  .clearTags {
    background-color: var(--notification);
    color: white;

    padding: var(--spacing-small);

    &:disabled {
      background-color: var(--notification);
    }
  }
}
