.projectCell {
  padding: var(--padding-small);

  .projectThumb {
    img {
      height: 250px;
      width: 315px;
      aspect-ratio: 315 / 250;

      display: block;
      width: 100%;
      height: auto;
    }
  }

  .projectData {
    margin-top: var(--padding-small);

    .projectTitle {
      text-align: center;
      font-weight: bold;
      word-wrap: break-word;

      color: var(--accent);
    }

    .projectText {
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: var(--font-small);

      color: white;
      background-color: var(--accent);
      margin-bottom: var(--padding-small);
      padding: var(--padding-small);

      border-radius: var(--border);
    }

    .projectGenre {
      text-align: center;
      font-size: var(--font-small);

      color: white;
      background-color: var(--accent);

      padding: var(--padding-small);
      border-radius: var(--border);
    }

    .projectLinks {
      margin-top: var(--padding-small);

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        // overflow: hidden;

        li {
          float: left;

          a {
            display: block;
            text-align: center;
            text-decoration: none;
            font-size: var(--font-regular);
          }
        }
      }
    }
  }
}
