.projectItem {
  color: inherit;
  padding: 0 var(--padding-small) 0 var(--padding-small);
  margin-bottom: var(--padding-normal);
  display: flex;

  .imageContainer {
    position: relative;
    margin-right: var(--padding-normal);

    .link {
      margin-top: var(--padding-small);
      color: var(--accent);
    }

    img {
      box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
      user-select: none;
      pointer-events: none;
      border-radius: var(--border);
      object-fit: cover;
    }
  }
  .postContainer {
    flex: 1;

    .tag {
      display: inline-block;
      font-size: var(--font-small);
      margin-right: 8px;
      color: var(--accent);
      text-transform: uppercase;
      font-weight: bold;
    }

    p {
      margin-top: 1.2rem;
    }

    .stats {
      font-size: var(--font-small);
      user-select: none;
      color: rgba(0, 0, 0, 0.5);
      transition: color 0.3s;

      &:hover {
        color: black;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .imageContainer {
    display: none;
  }
}
