.projectItem {
  color: inherit;
  padding: 0 var(--spacing-small) 0 var(--spacing-small);
  display: flex;

  &:last-child {
    margin-bottom: var(--spacing-normal);
  }

  .imageContainer {
    position: relative;
    margin-right: var(--spacing-normal);

    .link {
      color: var(--primary);
    }

    img {
      box-shadow: var(--box-shadow);
      user-select: none;
      pointer-events: none;
      border-radius: var(--border);
      object-fit: cover;
    }
    i {
      margin: auto;
    }
  }
  .postContainer {
    width: 100%;

    .tag {
      display: inline-block;
      font-size: var(--font-small);
      margin-right: 8px;
      color: var(--primary);
      text-transform: uppercase;
      font-weight: bold;
    }

    .stats {
      font-size: var(--font-small);
      user-select: none;
      background-color: hsla(var(--primary-hsla), 0.2);
      padding: var(--spacing-mini) var(--spacing-normal);
      border-radius: var(--border);
      color: var(--font-default);
      font-weight: 500;
      transition: color 0.3s;
      text-align: center;

      i {
        margin: 0;
      }
    }
    .header {
      display: flex;
      justify-content: space-between;
      .link {
        color: var(--font-high-contrast);
      }
      a {
        display: inline-block;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .imageContainer {
    display: none;
  }
}
