.projectWrap {
  height: auto;
  position: relative;
  margin-bottom: 2rem;
  will-change: transform;
  flex: 0 0 450px;

  .image {
    width: 100%;
    object-fit: cover;
    transition: 0.5s cubic-bezier(0.47, 1.64, 0.41, 0.8);
    transform: scale(1.05);
    border-radius: 0;
  }

  .details {
    padding: 10px;
    text-align: center;
  }

  .social {
    border-radius: 0 0 var(--border) 0;
    background-color: white;
    position: absolute;
    z-index: var(--z-front);
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    transition: 0.2s ease-in;

    ul {
      gap: 0;
    }
  }

  &:hover,
  &:active {
    .social {
      -webkit-box-shadow: 0px 0px 40px 9px rgba(115, 95, 242, 0.9);
      -moz-box-shadow: 0px 0px 40px 9px rgba(115, 95, 242, 0.9);
      box-shadow: 0px 0px 40px 9px rgba(115, 95, 242, 0.9);
      transform: scale(1.1);
    }

    .image {
      transform: scale(1.1);
    }
  }
}

@media screen and (max-width: 1024px) {
  .projectWrap {
    flex: 1 !important;

    .social {
      -webkit-box-shadow: 0px 0px 40px 9px rgba(115, 95, 242, 0.9);
      -moz-box-shadow: 0px 0px 40px 9px rgba(115, 95, 242, 0.9);
      box-shadow: 0px 0px 40px 9px rgba(115, 95, 242, 0.9);
      transform: scale(1.1);
    }

    &:hover,
    &:active {


      .image {
        transform: none;
      }
    }
  }
}