.ScrollTop {
  position: fixed;
  list-style: none;

  bottom: 0;
  right: 0;
  padding: 0 var(--spacing-small) var(--spacing-medium) 0;
  z-index: var(--z-absolute);
  text-align: center;

  .progressWrap {
    cursor: pointer;
    text-align: center;
    position: relative;
    width: 70px;
    height: 70px;

    i {
      position: absolute;
      display: inline-block;
      margin: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      color: var(--font-default);
    }

    svg {
      margin: 0 auto;
      display: block;

      rect {
        stroke-dashoffset: 0;
        stroke-width: 5%;
        fill: none;
      }
    }

    .bg {
      stroke: var(--primary);
      opacity: 0.2;
    }

    .indicator {
      stroke: var(--primary);
      fill: var(--secondary-opaque);
    }
  }
}
