.social {
  max-height: 50px;
  min-width: 50px;

  a {
    transition: 0.2s ease-in-out;

    display: inline-block;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    text-decoration: none;

    span {
      font-weight: bold;
      margin: 5px;
    }

    &:hover {
      color: var(--accent);
    }
  }
}

@media screen and (max-width: 1024px) {
  .social {
    span {
      display: none;
    }
  }
}