.streamNotification {
  background-color: var(--notification);
  border-radius: var(--border);
  padding: var(--spacing-small);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    font-weight: bold;
  }

  span,
  a,
  i {
    text-align: center;
    color: white;
    line-height: 20px;
    text-decoration: none;
  }

  .redirect {
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: var(--spacing-small);
    border-radius: var(--border);
    transition: all 0.3s;

    &:hover {
      color: black;

      background-color: white;
      box-shadow: 0 4px 10px rgba(14, 36, 49, 0.15);
    }
  }
}
