.subtitle {
  overflow-wrap: break-word;
  // text-align: center;

  // justify-self: center;

  user-select: none;

  display: flex;

  margin-top: 6px;
  margin-bottom: 6px;
  color: var(--font-default);

  i {
    margin: auto;
  }
}
