.subtitle {
  overflow-wrap: break-word;

  justify-self: center;
  align-items: center;

  user-select: none;

  display: flex;

  margin-top: 6px;
  margin-bottom: 6px;
  color: var(--font-default);
  i {
    vertical-align: middle;
  }
}
