.kaomojiWrapper {
  padding: var(--spacing-medium);
  text-align: center;
  font-size: var(--font-large);
  opacity: 0.8;
  overflow: hidden;
  user-select: none;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-large);

  .kaomoji {
    overflow: hidden;
    animation: spin 4s linear infinite;

    white-space: nowrap;
  }

  p {
    font-size: var(--font-regular);
    font-weight: bold;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
