.canvasWrapper {
  scroll-snap-align: center;

  // li
  position: relative;

  // height: 100%;
  height: 100vh;
  flex: 0 0 100%;
  width: 100%;
  // padding: var(--spacing-medium) var(--spacing-medium);

  will-change: transform, opacity;
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .loaderWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: var(--z-normal);

    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: var(--z-normal);
    // background-color: rgba(0, 0, 0, 0.8);
    // backdrop-filter: blur(16px) brightness(60%);
    text-align: center;
    transition: 255ms;
    color: white;
  }

  .canvasItem {
    max-width: 90%;
    // max-height: 100%;
    max-height: calc(-85px + 100vh);
    height: auto;
    width: auto;
    object-fit: contain;
    transition: filter 255ms;
  }
}

.imageAlt {
  user-select: none;
  pointer-events: none;
  background: hsla(var(--secondary-opaque-hsla), 0.6);

  // background-color: var(--secondary-opaque);
  // opacity: 0.8;
  position: absolute;
  bottom: 4rem;
  margin-bottom: var(--spacing-normal);
  padding: var(--spacing-mini) var(--spacing-normal);
  border-radius: var(--border);
}

.controls {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  // overflow-x: scroll;
  // overflow-y: visible;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  touch-action: pan-x;
  gap: var(--spacing-small);
  bottom: 0.7rem;

  a {
    background: hsla(var(--secondary-opaque-hsla), 0.6);

    &:hover {
      background: hsla(var(--secondary-opaque-hsla), 1);
      color: var(--font-high-contrast);
    }
  }
}

@media screen and (max-width: 1024px) {
  .canvasWrapper {
    height: 100%;
    .canvasItem {
      max-height: calc(-150px + 100vh);
      margin: 0 !important;
    }
  }
  // ! Disabled on smaller screens temporarily
  .controls {
    display: none;
  }
}
