.contentWarningWrapper {
  position: absolute;
  font-weight: var(--font-bold);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: var(--z-normal);
  // background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(16px) brightness(60%) grayscale(100%);
  overflow: hidden;
  text-align: center;
  transition: 255ms;
  color: white; // TODO add alternative high-contrast text color in variables.scss

  span {
    font-weight: bolder;
  }

  button {
    cursor: pointer;
    margin-top: var(--spacing-small);
    border-radius: var(--border);
    border: 0;
    padding: var(--spacing-small) var(--spacing-normal);
    background-color: hsla(var(--primary-hsla), 0.2);
  }

  // pointer-events: none;

  @supports (-webkit-appearance: none) {
    // for chromium
    // border-radius: var(--border);
  }
}
