.thumbnailWrapper {
  display: flex;
  align-items: flex-end;

  width: 100%;
  white-space: nowrap;
  margin-top: var(--spacing-mini);
  padding-bottom: 5px;

  overflow-x: auto;
  position: absolute;
  bottom: 0;

  cursor: grab;
  flex-shrink: 0;
  user-select: none;

  // mask: linear-gradient(to left, transparent, black 220px, black 100%);

  &:active {
    cursor: grabbing;
  }

  .thumbnails {
    width: 110px;
    height: 100px;
    overflow: hidden;

    margin: 0 var(--spacing-mini);
    border-radius: var(--border);
    border: 3px solid transparent;

    flex: 0 0 auto;
    transition: transform 0.2s ease;

    .thumbnail {
      pointer-events: none;
    }

    &:hover {
      border-color: var(--secondary-opaque);
    }
  }
  .matureFilter {
    &:not(.selected) > img {
      filter: blur(3px);
      transition: 255ms;
    }
  }
  .selected,
  .selected:hover {
    border-color: var(--primary);
    transform: scale(0.9);
  }
}

.arrow {
  box-shadow: var(--box-shadow);

  bottom: 15%;
  position: absolute;
  border: 2px solid var(--secondary-opaque);
  border-radius: var(--border);
  color: white;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  z-index: 1001;
  opacity: 0.5;
  transition: all 0.2s ease;

  &:hover {
    opacity: 1;
    background-color: var(--tertiary);
  }

  i {
    border-radius: var(--border);

    font-size: var(--font-larger);
    padding: 5px;
    transition: color 0.2s ease;
  }

  &.leftArrow {
    left: 50px;
  }
  &.rightArrow {
    right: 50px;
  }

  &:hover > i {
    color: var(--primary);
  }
}

@media screen and (max-width: 1024px) {
  .arrow {
    display: none;
  }
}
