.imagePreviewWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // cursor: not-allowed;

  z-index: var(--z-absolute);

  .exitButton {
    a {
      position: absolute;
      top: var(--spacing-normal);
      left: var(--spacing-normal);
      z-index: var(--z-absolute);
      padding: var(--spacing-small);
    }
  }

  hr {
    width: 100%;
  }

  h3 {
    margin-bottom: var(--spacing-small);
  }

  .imagePreview {
    position: relative;
    display: flex;

    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px) brightness(50%);

    width: 100%;
    height: 100%;
    // overflow: scroll;
  }

  .imageSectionWrapper {
    position: relative;

    // height: 100%;
    // height: max-content;
    width: 100%;
    overflow-y: scroll;

    display: flex;
    flex: 1;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-snap-type: y mandatory;
  }

  .scrollIndexDots {
    background-color: hsl(251, 17%, 25%, 50%);
    // height: 28px;
    height: 100%;
    padding: 0 var(--spacing-small);
    // border-radius: var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    right: 0;
    position: absolute;
    z-index: 100;

    .dot {
      flex: 1;
      width: 8px;
      height: 8px;
      // border-radius: var(--border);
      background-color: var(--secondary);
      opacity: 0.7;
      cursor: pointer;
      transition: all 255ms;

      &.activeDot {
        // height: 20px;
        opacity: 1;
        background-color: white;
      }
    }
  }

  .imageSection {
    // ul
    position: relative;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    // height: 100%;
    // height: max-content;
    width: 100%;
    overflow: scroll;

    display: flex;
    flex: 1;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: var(--spacing-normal);
    scroll-snap-type: y mandatory;

    .image {
      scroll-snap-align: center;

      // li
      position: relative;

      height: 100%;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      will-change: transform, opacity;
      overflow: clip;

      img,
      video,
      canvas {
        width: max-content;
        height: max-content;
        position: relative;

        max-height: calc(-85px + 100vh);
        max-width: 100%;

        object-fit: contain;
        object-position: center;
        // user-select: none;
        // pointer-events: none;
      }
    }
  }

  .previewInformationWrapper {
    width: 25rem;
    height: 100%;
    flex-shrink: 0;
    background-color: var(--secondary-opaque);

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: var(--spacing-normal);

    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: var(--spacing-normal);

      .navButton {
        padding: var(--spacing-small) var(--spacing-normal);
        background: var(--tertiary);
        box-shadow: var(--box-shadow);
        border: none;
        border-radius: var(--border);
        cursor: pointer;

        i {
          color: var(--font-default);
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }

    .title {
      font-weight: var(--font-bold);
      font-size: var(--font-medium);
    }

    .imageStats {
      ul {
        list-style: none;
        padding: 0;

        li {
          margin: var(--spacing-small) 0;

          span {
            font-weight: bolder;
          }
          i {
            margin-right: var(--spacing-small);
          }
        }
      }
    }

    // More section
    .thumbnailGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--spacing-small);
      margin: var(--spacing-normal) 0 0 0;
      color: white;

      .thumbnail {
        position: relative;
        overflow: hidden;
        width: 110px;
        height: 100px;
        border-radius: var(--border);

        img {
          object-fit: cover;
          cursor: pointer;
          transition: opacity 255ms;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .links {
      // margin-top: var(--spacing-small);
      display: flex;
      flex-wrap: wrap;
      row-gap: 8px;

      a {
        text-decoration: none;

        color: var(--font-default);
        transition: all 255ms;
        background-color: hsla(var(--primary-hsla), 0.2);

        // background-color: var(--tertiary);
        border-radius: var(--border);
        padding: var(--spacing-small);

        &:not(:last-child) {
          margin-right: var(--spacing-small);
        }

        &.copyLink {
          padding-right: var(--spacing-normal);
        }

        &:hover {
          box-shadow: var(--box-shadow);
          color: var(--primary);
        }
      }
    }

    .tags {
      pointer-events: none;
      user-select: none;

      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-small);

      .tag {
        display: inline-block;

        color: var(--font-default);
        // background-color: var(--tertiary);
        background-color: hsla(var(--primary-hsla), 0.2);
        border-radius: var(--border);
        padding: var(--spacing-small);
        padding-right: var(--spacing-normal);
        // box-shadow: var(--box-shadow);
      }
    }
  }
}

// Mobile View
@media screen and (max-width: 1024px) {
  .imagePreviewWrapper {
    .imagePreview {
      flex-direction: column;
      overflow: auto;

      .imageSectionWrapper {
        // ul
        // overflow: initial;
        min-height: min-content;
        // min-height: max-content;
        overflow: visible;

        .scrollIndexDots {
          display: none;
        }

        .imageSection {
          display: flex !important;
          flex-direction: row;
          overflow-x: auto;
          overflow-y: hidden;
          white-space: nowrap;
          scroll-snap-type: x mandatory; // horizontal snapping
          img {
            // height: 500px;
            width: 100%;
          }
        }
      }

      .previewInformationWrapper {
        height: auto;
        width: 100%;
      }
    }
    .thumbnailGrid {
      display: none;
    }
  }
}
