.thumbnails {
  display: flex;
  align-items: flex-end;

  width: 100%;
  white-space: nowrap;
  margin-top: var(--spacing-mini);
  padding-bottom: 5px;

  overflow-x: auto;
  position: relative;

  cursor: grab;
  flex-shrink: 0;
  user-select: none;

  // mask: linear-gradient(to left, transparent, black 220px, black 100%);

  &:active {
    cursor: grabbing;
  }

  .thumbnailWrapper {
    width: 110px;
    height: 100px;
    overflow: hidden;

    margin: 0 var(--spacing-mini);
    border-radius: var(--border);
    border: 3px solid transparent;

    flex: 0 0 auto;
    transition: transform 0.2s ease;

    .thumbnail {
      pointer-events: none;
    }

    &:hover {
      border-color: white;
    }
  }
  .suggestiveFilter {
    filter: blur(3px);
    transition: 255ms;

    &:hover {
      filter: blur(0);
    }
  }
  .selected,
  .selected:hover {
    border-color: var(--accent);
    transform: scale(0.9);
  }
}
