.imagePreviewWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: var(--z-absolute);

  .exitButton {
    a {
      position: absolute;
      top: var(--spacing-normal);
      left: var(--spacing-normal);
      z-index: var(--z-absolute);
      padding: var(--spacing-small);
    }
  }

  hr {
    width: 100%;
  }

  h3 {
    margin-bottom: var(--spacing-small);
  }

  .imagePreview {
    position: relative;
    display: flex;

    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px) brightness(50%);

    width: 100%;
    height: 100%;
    // overflow: scroll;
  }

  .imageSection {
    // ul
    position: relative;

    // height: 100%;
    // height: max-content;
    width: 100%;
    overflow: scroll;

    display: flex;
    flex: 1;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: var(--spacing-normal);
    scroll-snap-type: y mandatory;

    .image {
      scroll-snap-align: center;

      // li
      position: relative;

      height: 100%;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      will-change: transform, opacity;

      .imageAlt {
        background-color: var(--secondary-opaque);
        opacity: 0.8;
        position: absolute;
        bottom: 0;
        margin-bottom: var(--spacing-normal);
        padding: var(--spacing-mini) var(--spacing-normal);
        border-radius: var(--border);
      }

      img,
      video {
        width: max-content;
        height: max-content;
        position: relative;

        max-height: calc(-85px + 100vh);
        max-width: 100%;

        object-fit: contain;
        object-position: center;
        // user-select: none;
      }
    }
  }

  .previewInformationWrapper {
    width: 25rem;
    height: 100%;
    flex-shrink: 0;
    background-color: var(--secondary-opaque);

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: var(--spacing-normal);

    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: var(--spacing-normal);

      .navButton {
        padding: var(--spacing-small) var(--spacing-normal);
        background: var(--tertiary);
        box-shadow: var(--box-shadow);
        border: none;
        border-radius: var(--border);
        cursor: pointer;

        i {
          color: var(--font-default);
        }

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }

    .title {
      font-weight: var(--font-bold);
      font-size: var(--font-medium);
    }

    .imageStats {
      ul {
        list-style: none;
        padding: 0;

        li {
          margin: var(--spacing-small) 0;
          i {
            margin-right: var(--spacing-small);
          }
        }
      }
    }

    .thumbnailGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--spacing-small);
      margin: var(--spacing-normal) 0;

      .thumbnail {
        position: relative;
        overflow: hidden;
        width: 110px;
        height: 100px;
        border-radius: var(--border);

        .matureWarning {
          // TODO make a global style
          position: absolute;

          width: 100%;
          height: 100%;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          font-weight: var(--font-bold);
          text-align: center;

          backdrop-filter: blur(16px) brightness(60%);
          z-index: var(--z-normal);
          pointer-events: none;
          transition: 255ms;

          i {
            color: white;
          }
        }

        img {
          object-fit: cover;
          cursor: pointer;
          transition: opacity 255ms;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .links {
      a {
        color: var(--font-default);
        transition: color 255ms;

        i {
          box-shadow: var(--box-shadow);

          background-color: var(--tertiary);
          border-radius: var(--border);
          padding: var(--spacing-small);
          font-size: var(--font-large);
        }

        &:hover {
          color: var(--primary);
        }
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: var(--spacing-small);

      .tag {
        display: inline-block;

        color: rgba(255, 255, 255, 0.75);
        background-color: var(--tertiary);
        border-radius: var(--border);
        padding: var(--spacing-mini) var(--spacing-small);
      }
    }
  }
}

// Mobile View
@media screen and (max-width: 1024px) {
  .imagePreviewWrapper {
    .imagePreview {
      flex-direction: column;
      overflow: auto;

      .imageSection {
        // ul
        // overflow: initial;
        min-height: min-content;
        // min-height: max-content;
        overflow: visible;

        img {
          // height: 500px;
          width: 100%;
        }
      }

      .previewInformationWrapper {
        height: auto;
        width: 100%;
      }
    }
    .thumbnailGrid {
      display: none;
    }
  }
}
