.imagePreviewWrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);

  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: var(--z-fixed);

  .external {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    padding: var(--spacing-small);
    margin: 0;
    list-style-type: none;
    list-style: none;
  }

  .imagePreview {
    // width: 100%;
    // height: 100%;
    overflow: hidden;
    position: block;

    flex: 1;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      user-select: none;
    }
  }

  .previewInformationWrapper {
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;

    .previewInformation {
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.8) 55%,
        rgba(255, 255, 255, 0) 100%
      );
      text-shadow: 1px 1px 5px #000000;

      position: absolute;
      user-select: none;
      color: white;

      padding: var(--spacing-small);
      text-align: center;
      width: 100%;
      bottom: 0;
      padding-bottom: 111px;

      .title {
        font-weight: var(--font-bold);
        font-size: var(--font-medium);
      }

      .tag {
        font-size: var(--font-small);
        margin-right: 10px;
        color: rgba(185, 185, 185, 0.5);
      }
    }
  }
}

.arrow {
  top: 0;
  position: absolute;
  // background: white;
  color: white;
  width: 20%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  z-index: 101;
  transition: transform 0.2s ease;

  i {
    border-radius: var(--border);

    font-size: var(--font-larger);
    padding: 5px;
    transition: color 0.2s ease, background-color 0.2s ease;
  }

  &.leftArrow {
    left: 0;

    &:hover {
      transform: translateX(-20px);
    }
  }
  &.rightArrow {
    right: 0;
    &:hover {
      transform: translateX(20px);
    }
  }

  &:hover > i {
    color: var(--accent);
    background-color: white;
  }
}
