.backButton {
    padding: 0;
}

.posts {
    min-width: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 10px;
}

@media screen and (max-width: 1024px) {
    .posts {
        // grid-template-columns: 1fr;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}