.backButton {
    padding: 0;
}

.post {
    padding: var(--padding-normal);
    overflow-x: auto;

    table tr:nth-child(2n) {
        background-color: hsla(var(--accent-raw), 0.2);
    }

    table,
    th,
    td {
        border: thin solid black;
        border-collapse: collapse;
        padding: 0.4em;
    }

}