.mainSection {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  flex-direction: column;
  text-align: center;

  color: var(--font-default);

  h1 {
    i {
      vertical-align: top;
      padding: 0;
      margin: 0;
      font-size: larger;
      color: var(--notification);
    }
  }

  span,
  h1 {
    vertical-align: middle;
  }
  img {
    margin-top: var(--spacing-normal);
    box-shadow: 0 4px 10px hsla(202, 56%, 12%, 0.15);
    border-radius: 0.7em;
    width: 100%;
    object-fit: cover;
  }
}
