.mainSection {
  align-items: stretch;
  color: var(--font-default);
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  i {
    vertical-align: middle;
  }

  .endNotice {
    span,
    i {
      vertical-align: middle;
      text-align: center;
      margin: 0;
    }
  }

  .gallery {
    &.customLayout {
      display: flex;
      flex-wrap: wrap;
    }

    &.gridLayout {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
      // gap: 1rem;

      .galleryItem {
        border-radius: 0;
        aspect-ratio: 1 / 1;
        height: auto;
        padding: 0;
        margin: 0;

        img,
        figure {
          width: 100%;
          height: 100%;
          object-fit: cover !important;
        }
      }
    }

    .galleryItem {
      margin: 0 0.3em 0.45em 0.3em;
      cursor: pointer;
      position: relative;
      color: white;
      border-radius: var(--border);
      overflow: hidden;

      &::before {
        // dark gradient for a more legible text
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
        background: linear-gradient(
          to top,
          hsla(0, 0%, 28%, 0.85) 0%,
          transparent 100%
        );

        // border-radius: var(--border); // TODO remove depending on layout
        z-index: var(--z-normal);
        pointer-events: none;

        opacity: 0;
        transition: 255ms;
      }

      &::after {
        // TODO play around with colors
        // Inset glow border shadow
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0 0 2em hsla(var(--high-contrast-hsla), 0.2);
        opacity: 0;
        z-index: 0;
        pointer-events: none;

        transition: 255ms;
      }

      &:hover {
        &::after, // Gradients
        &::before {
          opacity: 1;
        }

        img {
          transform: scale(1.05);
        }

        figcaption {
          transform: translateY(0);
          opacity: 1;
        }
      }

      .indicators {
        // speedpainting and image stack
        list-style: none;
        margin: 5px;
        padding: 0;
        position: absolute;
        top: 0;
        z-index: var(--z-normal);

        span {
          font-weight: bold;
        }

        li + li {
          margin-top: var(--spacing-small);
        }

        .indicator {
          text-shadow: 0 4px 10px rgba(14, 36, 49, 0.5); // previously 0.15 opacity

          &.new {
            color: hsl(28, 100%, 73%);
          }
        }
      }

      img {
        display: block;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
        transition: 255ms;
      }

      figure {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        overflow: hidden;

        figcaption {
          position: absolute;
          padding: 15px 10px 10px;
          width: 100%;
          bottom: 0;
          left: 0;

          user-select: none;
          pointer-events: none;

          font-size: var(--font-regular);
          font-weight: bold;

          text-shadow: 1px 1px 5px #000000;
          background: linear-gradient(
            to top,
            hsla(var(--high-contrast-hsla), 0.2) 0%,
            transparent 100%
          );
          opacity: 0;
          transform: translateY(20);
          z-index: var(--z-normal);

          transition: 255ms;
        }
      }
    }
    &::after {
      content: "";
      flex-basis: calc(0.5 * 12em);
      flex-grow: 1000000;
    }
  }
}

@media screen and (max-width: 1024px) {
  .mainSection {
    .gallery .galleryItem figure {
      figcaption {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
