.backButton {
  padding: 0;
}

.mainSection {
  align-items: stretch;

  .gallery {
    display: flex;
    flex-wrap: wrap;

    .galleryItem {
      margin: 0 0.35em 0.45em 0.35em;

      figure {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        border-radius: var(--border);
        overflow: hidden;

        figcaption {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 15px 10px 10px;

          font-size: 16px;
          font-weight: bold;

          color: white;
          text-shadow: 1px 1px 5px #000000;
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(255, 255, 255, 0) 100%
          );
          opacity: 0;
          transition: 255ms;
        }

        &:hover {
          figcaption {
            opacity: 1;
          }
        }
      }
      img {
        display: block;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        width: 100%;

        // cursor: pointer;
      }
    }
    &::after {
      content: "";
      flex-basis: calc(0.5 * 12em);
      flex-grow: 1000000;
    }
  }
}

.imagePreview {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);

  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: var(--z-absolute);

  .imagePreviewWrapper {
    width: 95%;
    height: 95%;
    overflow: hidden;
    position: relative;

    object-position: top;
    flex: 1;
  }

  .thumbnails {
    display: flex;
    align-items: flex-end;

    width: 100%;
    white-space: nowrap;
    margin-top: 16px;
    overflow-x: auto;
    cursor: grab;
    flex-shrink: 0;

    .thumbnailWrapper {
      object-fit: cover;
      width: 100px;
      height: 100px;
      overflow: hidden;

      margin: 0 var(--padding-mini);
      object-position: top;
      border-radius: var(--border);
      border: 3px solid transparent;

      flex: 0 0 auto;

      &:hover {
        border-color: white;
      }
    }
    .selected,
    .selected:hover {
      border-color: var(--accent);
    }
  }

  .cardItem {
    color: white;
    text-align: center;
    text-decoration: none;

    span {
      display: block;
      margin-top: 8px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .mainSection {
    .gallery .galleryItem figure {
      figcaption {
        opacity: 1;
      }
    }
  }
}
