.mainSection {
  align-items: stretch;
  color: var(--font-default);
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  i {
    vertical-align: middle;
  }

  .endNotice {
    span,
    i {
      vertical-align: middle;
      text-align: center;
      margin: 0;
    }
  }

  .filterTags {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--spacing-small);
    overflow-x: scroll;
    overflow-y: visible;

    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    touch-action: pan-x;

    &::-webkit-scrollbar {
      display: none;
    }

    .tagButton {
      border-radius: var(--border);
      flex: 0 0 auto;
      white-space: nowrap;

      text-decoration: none;
      text-align: center;

      // background-color: var(--tertiary);
      background-color: hsla(var(--primary-hsla), 0.2);
      color: var(--font-default);
      border: none;

      cursor: pointer;

      transition: all 0.3s;
      padding: var(--spacing-small);

      span {
        vertical-align: middle;
      }

      &.selected {
        color: white;
        background-color: var(--primary);
      }

      &:has(span) {
        padding-right: var(--spacing-normal);
      }

      &:disabled {
        color: black;
        cursor: not-allowed;
        // background-color: var(--primary);
        opacity: 0.5;
      }
    }

    .clearTags {
      background-color: var(--notification);
      color: white;

      padding: var(--spacing-small);

      &:disabled {
        background-color: var(--notification);
      }
    }
  }
  .gallery {
    &.customLayout {
      display: flex;
      flex-wrap: wrap;
    }

    &.gridLayout {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
      // gap: 1rem;

      .galleryItem {
        border-radius: 0;
        aspect-ratio: 1 / 1;
        height: auto;
        padding: 0;
        margin: 0;

        img,
        figure {
          width: 100%;
          height: 100%;
          object-fit: cover !important;
        }
      }
    }

    .galleryItem {
      margin: 0 0.3em 0.45em 0.3em;
      cursor: pointer;
      position: relative;
      color: white;
      border-radius: var(--border);
      overflow: hidden;

      .indicators {
        // speedpainting and image stack
        list-style: none;
        margin: 5px;
        padding: 0;
        position: absolute;
        top: 0;

        span {
          font-weight: bold;
        }

        li + li {
          margin-top: var(--spacing-small);
        }

        .indicator {
          text-shadow: 0 4px 10px rgba(14, 36, 49, 0.5); // previously 0.15 opacity

          &.new {
            color: hsl(28, 100%, 73%);
          }
        }
      }

      figure {
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        overflow: hidden;

        figcaption {
          position: absolute;
          padding: 15px 10px 10px;
          width: 100%;
          bottom: 0;
          left: 0;

          user-select: none;
          pointer-events: none;

          font-size: 16px;
          font-weight: bold;

          text-shadow: 1px 1px 5px #000000;
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(255, 255, 255, 0) 100%
          );
          opacity: 0;

          transition: 255ms;
        }

        &:hover {
          figcaption {
            opacity: 1;
          }
        }
      }
      img {
        display: block;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
      }
    }
    &::after {
      content: "";
      flex-basis: calc(0.5 * 12em);
      flex-grow: 1000000;
    }
  }
}

@media screen and (max-width: 1024px) {
  .mainSection {
    .gallery .galleryItem figure {
      figcaption {
        opacity: 1;
      }
    }
  }
}
