@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

:root {
  // Fonts
  --font-larger: 2.5em;
  --font-large: 2em;
  --font-medium: 1.5rem;
  --font-normal: 1rem;
  --font-small: 0.8rem;
  --font-smaller: 0.5rem;

  --font-bold: 600;
  --font-normal: 400;

  // Z Index
  --z-back: -10;
  --z-normal: 1;
  --z-front: 10;
  --z-fixed: 100;
  --z-absolute: 999;

  // Colors
  --accent-raw: 248, 85%, 66%;
  --accent: hsl(248, 85%, 66%);
  --accent-dark: hsl(248, 85%, 60%);
  --primary: hsl(0, 0%, 100%, 0.5);
  --primary-opaque: hsl(0, 0%, 100%);
  --footer: hsl(0, 0%, 0%);

  /* #002233 #0066FF */

  // Other
  --border: 10px;
  --blur: 10px;

  // Padding
  --padding-mini: 0.1rem;
  --padding-small: 0.5rem;
  --padding-normal: 1rem;
  --padding-medium: 2rem;
  --padding-large: 5rem;
}

html,
body {
  padding: 0;
  margin: 0;

  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: var(--font-normal);

  scroll-behavior: smooth;
  scroll-padding-top: 10px;

  background-image: url("/circle-scatter-haikei.svg");
  background-repeat: repeat;

  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}

* {
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
}

.bx {
  margin: 5px;
  font-size: var(--font-medium);
}

// CARD ITEM
.cardItem {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  overflow: hidden;
  background-color: white;
  border-radius: var(--border);
  // padding: 0 var(--padding-small) 0 var(--padding-small);
}

// Flex
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  gap: 10px;
}

.flexRight {
  justify-content: flex-start;
}

.flexLeft {
  justify-content: flex-end;
}

.flexAround {
  justify-content: space-around;
}

.flexEvenly {
  justify-content: space-evenly;
}

.flexBetween {
  justify-content: space-between;
}

.flexColumn {
  flex-direction: column;
}

.flexRow {
  flex-direction: row;
}

.flexWrap {
  flex-wrap: wrap;
}

// Font
.fontSmaller {
  font-size: var(--font-smaller);
}

.fontSmall {
  font-size: var(--font-small);
}

.fontMedium {
  font-size: var(--font-medium);
}

.fontLarge {
  font-size: var(--font-large);
}

.fontLarger {
  font-size: var(--font-larger);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent);
}