@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

html,
body {
  padding: 0;
  margin: 0;

  font-family: "Nunito", sans-serif;

  // Safari & Firefox
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
  font-weight: 200;

  font-size: var(--font-regular);

  scroll-behavior: smooth;
  scroll-padding-top: 10px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
}

a {
  color: var(--primary);
  font-weight: var(--font-bold);
}

hr {
  border: 2px solid var(--hr-color);
  border-radius: 5px;
}

blockquote {
  color: var(--font-default);
  background-color: hsla(var(--primary-hsla), 0.2);
  border-left: 4px solid var(--primary);
  margin-left: 0;
  margin-right: 0;

  p {
    padding: 10px;
    color: var(--font-default);
  }

  hr {
    border: 2px solid var(--secondary-opaque);
  }
}

.bx,
[class^="ri-"] {
  font-size: 1.2rem;

  // font-size: var(--font-regular);
  margin: 5px;

  line-height: 1;
  text-rendering: auto;
  display: inline-block;
  text-transform: none;
}

// Card Item
.cardItem {
  box-shadow: var(--card-box-shadow);
  overflow: auto;
  background-color: var(--secondary-opaque);
  border-radius: var(--border);
  padding: var(--spacing-normal);
}

// Back button
.backButton {
  color: var(--font-default);
  padding: 0;
}

//? Might get rid of this
// Flex
.flex {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.flexRight {
  justify-content: flex-start;
}

.flexLeft {
  justify-content: flex-end;
}

.flexAround {
  justify-content: space-around;
}

.flexEvenly {
  justify-content: space-evenly;
}

.flexBetween {
  justify-content: space-between;
}

.flexColumn {
  flex-direction: column;
}

.flexRow {
  flex-direction: row;
}

.flexWrap {
  flex-wrap: wrap;
}

/* Width / Height */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Background Color */
::-webkit-scrollbar-track {
  background-color: var(--tertiary);
}
