.introductionWrap {
  width: 100%;
  justify-content: stretch;
  align-items: flex-start;

  .profile {
    justify-content: start;
    align-items: stretch;

    position: sticky !important;
    position: -webkit-sticky; /* Safari */
    top: 0;
    padding: 10px 0;
    flex: 0;
    ul {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: stretch;
    }
  }

  .details {
    padding: 10px 0;
    flex: 1;

    .panel {
      margin-bottom: var(--padding-normal);
      padding: var(--padding-medium);

      h1 {
        margin: 0 0 var(--padding-normal) 0;
        text-align: center;
        font-weight: lighter;
        font-size: var(--font-larger);
      }

      p {
        font-size: var(--font-medium);
      }
      span {
        color: var(--accent);
      }

      .wave {
        animation-name: wave-animation;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        transform-origin: 70% 70%;
        display: inline-block;
      }

      .works {
        align-items: flex-start;
        flex-wrap: wrap;

        p {
          font-size: var(--font-normal);
        }
      }
    }

    .skills {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1024px) {
  .introductionWrap {
    flex-direction: column;
    align-items: stretch;

    .profile {
      padding: 0;
      position: relative !important;
      align-items: center;
      ul {
        flex-direction: row;
        align-items: center;
      }
    }

    .works {
      flex-direction: column;
      align-items: stretch !important;
    }
  }

  .skills {
    flex-direction: column;
    align-items: stretch;
  }
}
