.mainSection {
  justify-content: start;
  align-items: flex-start;
  gap: 10px;
  display: flex;

  img {
    border-radius: var(--border);
    object-fit: cover;
  }

  p {
    color: var(--font-default);
  }

  .profileWrap {
    width: 256px;
    position: sticky;
    position: -webkit-sticky;
    padding: 10px 0;
    top: 0;

    .navigation {
      ul {
        padding: 0;
        margin: 0;
        color: var(--font-default);
      }

      .externalLinks {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: var(--spacing-small);

        a {
          color: var(--font-default);
          transition: 0.2s ease-in-out;
          &:hover {
            color: var(--primary);
          }
        }
      }
    }
  }

  .panelsWrap {
    padding: 10px 0;
    flex: 1;

    span {
      font-weight: bold;
      color: var(--font-high-contrast);
    }

    .wave {
      animation-name: wave-animation;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      transform-origin: 70% 70%;
      display: inline-block;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      gap: var(--spacing-small);

      a {
        text-decoration: none;
      }

      i {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .mainSection {
    flex-direction: column;
    align-items: stretch;

    .profileWrap {
      display: flex;
      width: 100%;
      position: relative !important;

      img {
        width: 128px;
        height: 128px;
        object-position: 50% 15%;
      }

      .navigation {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        padding-left: var(--spacing-small);
      }
    }
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
