.mainSection {
  width: 100%;
  justify-content: stretch;
  align-items: flex-start;

  img {
    border-radius: var(--border);
    object-fit: cover;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: black;
    gap: 1rem;
    display: grid;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .profileWrap {
    position: sticky !important;
    position: -webkit-sticky;
    /* Safari */
    top: 0;
    padding: 10px 0;

    .navigation {

      .socialList {
        grid-template-columns: repeat(auto-fill, 50px);
        justify-content: center;
      }

      .pageList {
        margin-bottom: var(--padding-normal);
      }

      li:target {
        animation: blink 1.2s ease-out 2;
      }
    }
  }

  .panelsWrap {
    padding: 10px 0;
    flex: 1;

    span {
      color: var(--accent);
    }

    .wave {
      animation-name: wave-animation;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      transform-origin: 70% 70%;
      display: inline-block;
    }

    .works {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      gap: 10px;
    }

    .smallGrid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      gap: 10px;

      i {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .mainSection {
    flex-direction: column;
    align-items: stretch;

    .profileWrap {
      position: relative !important;
      display: flex;

      .navigation {
        padding-left: var(--padding-small);
        flex: 1;

        .socialList {
          grid-template-columns: none;
          align-items: stretch;
          justify-content: stretch;
        }
      }
    }

    .works {
      grid-template-columns: minmax(100%, 1fr) !important;
    }
  }
}

@keyframes blink {
  0% {
    box-shadow: none;
  }

  50% {
    -webkit-box-shadow: 0px 0px 40px 9px rgba(115, 95, 242, 0.76);
    -moz-box-shadow: 0px 0px 40px 9px rgba(115, 95, 242, 0.76);
    box-shadow: 0px 0px 40px 9px rgba(115, 95, 242, 0.76);
  }

  100% {
    box-shadow: none;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}