.panelsWrap {
  padding: var(--spacing-normal);
  flex: 1;
  width: 35%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .header {
    text-align: center;
    color: var(--font-default);
  }

  .linkList {
    padding: 0;
    margin: var(--spacing-normal) 0 0 0;
    color: var(--font-default);

    li {
      list-style: none;

      // Hover Animation
      a {
        transition: all 255ms ease;

        i {
          transition: transform 255ms ease;
        }

        &:hover {
          transform: scale(1.02);

          i {
            transform: rotate(360deg);
          }
        }
      }

      &.highlight a {
        box-shadow: none;
        background-color: hsla(var(--primary-hsla), 0.08);
        border: 1.7px solid var(--border-skillbar);
        color: var(--font-skillbar);
      }

      // Elements more than 1 child get this style e.g. links with a copy button
      &:has(> :nth-child(2)) {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;

        a:not(:last-child) {
          flex: 0.98;
          width: 100%;
        }
      }
    }
  }

  .picture {
    object-fit: cover;
    object-position: top;
    border-radius: var(--border);
  }

  span {
    display: block;
    text-align: center;
    color: var(--font-default);
  }
}

@media screen and (max-width: 1024px) {
  .panelsWrap {
    width: 100%;
  }
}
