.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  flex: 1 1 auto;
  min-height: 100vh;

  padding: var(--spacing-medium) 15rem;
  // padding-bottom: var(--spacing-medium);
}

@media screen and (max-width: 1280px) {
  .container {
    padding: var(--spacing-normal);
  }
}

@supports (-webkit-touch-callout: none) {
  .container {
    display: block;
  }
}
