.projects {
  .yearOrder {
    padding: var(--padding-small) var(--padding-small) 0 var(--padding-small);
    margin-bottom: var(--padding-normal);
  }
  .yearTitle {
    text-align: center;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: none;
  }
}
