:root {
  // Fonts
  --font-larger: 2.5em;
  --font-large: 2em;
  --font-medium: 1.5rem;
  --font-regular: 1rem;
  --font-small: 0.875rem;
  --font-smaller: 0.5rem;

  --font-bold: 600;
  --font-normal: 400;

  // Z Index
  --z-back: -10;
  --z-normal: 1;
  --z-front: 10;
  --z-fixed: 100;
  --z-absolute: 999;

  // Other
  --border: 0.7em;
  --blur: 10px;

  // Spacing
  --spacing-mini: 0.1rem;
  --spacing-small: 0.5rem;
  --spacing-normal: 1rem;
  --spacing-medium: 2rem;
  --spacing-large: 5rem;
}

:root[data-theme="light"] {
  // Colors
  --primary-hsla: 248, 85%, 66%;
  --primary: hsl(248, 85%, 66%);
  --secondary: hsl(0, 0%, 100%, 0.5);
  --secondary-opaque: hsl(0, 0%, 100%);
  --secondary-opaque-hsla: 0, 0%, 100%;
  --tertiary: hsl(0, 0%, 100%);
  --notification: hsl(350, 79%, 47%);

  --font-default: hsl(0, 0%, 0%);
  --font-high-contrast: hsl(248, 100%, 41%);
  --font-skillbar: var(--primary);

  --box-shadow: 0 4px 10px hsla(202, 56%, 12%, 0.15);
  --card-box-shadow: 0 4px 25px hsla(202, 56%, 12%, 0.15);
  --border-skillbar: var(--primary);
  --hr-color: hsl(0, 0%, 88%);

  color-scheme: dark;
}

:root[data-theme="dark"] {
  // Colors
  --primary-hsla: 248, 85%, 66%;
  --primary: hsl(248, 85%, 66%);
  --secondary: hsl(0, 0%, 100%, 0.5);
  --secondary-opaque: hsl(251, 17%, 12%);
  --secondary-opaque-hsla: 251, 17%, 12%;
  --tertiary: hsl(251, 17%, 25%);
  --notification: hsl(350, 79%, 47%);

  --font-default: hsl(247, 81%, 96%);
  --font-high-contrast: #ddd7fe;
  --font-skillbar: var(--font-default);

  --box-shadow: 0 4px 10px hsla(291, 4%, 64%, 0.15);
  --card-box-shadow: 0 4px 25px hsla(291, 4%, 64%, 0.15);
  --border-skillbar: var(--tertiary);
  --hr-color: var(--tertiary);
}

:root[data-theme="gruvbox"] {
  // Colors
  --primary-hsla: 333, 34%, 54%;
  --primary: hsl(333, 34%, 54%);

  --secondary: rgba(41, 41, 41, 0.5);
  --secondary-opaque: hsl(0, 0%, 16%);
  --secondary-opaque-hsla: 0, 0%, 16%;

  --tertiary: hsl(195, 6%, 12%);
  --notification: hsl(6, 96%, 59%);

  --font-default: #ebdbb2;
  --font-high-contrast: #fabd2f;
  --font-skillbar: var(--primary);

  // Shadows
  --box-shadow: 0 4px 10px hsla(48, 87%, 88%, 0.15);
  --card-box-shadow: 0 4px 25px hsla(48, 87%, 88%, 0.15);

  //  Others
  --border-skillbar: var(--primary);
  --hr-color: hsl(20, 5%, 22%);

  color-scheme: dark;
}

html[data-theme="light"],
body[data-theme="light"] {
  // background-image: url("/background-light.svg");
  // background-repeat: repeat;

  // -webkit-background-size: auto;
  // -moz-background-size: auto;
  // -o-background-size: auto;
  // background-size: auto;

  background: #ededed;
  background-image: linear-gradient(
    0deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-image: radial-gradient(
    hsla(248, 85%, 66%, 0.2) 2px,
    transparent 1px
  );
  background-size: 20px 20px;
}

html[data-theme="dark"],
body[data-theme="dark"] {
  background-color: hsl(248, 8%, 17%);
  background-image: radial-gradient(
    hsla(251, 17%, 25%, 0.4) 2px,
    transparent 1px
  );
  background-size: 20px 20px;

  color-scheme: dark;
}

html[data-theme="gruvbox"],
body[data-theme="gruvbox"] {
  background-color: #282828;
  background-image: radial-gradient(
    hsla(20, 5%, 22%, 0.6) 2px,
    transparent 1px
  );
  background-size: 20px 20px;
}
